@media screen and (width: 1280px) {
  #intro > picture > img {
    width: 65.4em;
    height: 40em;
  }
}

@media screen and (width: 1024px) {
  #intro > picture > img {
    width: 835px;
  }
}

@media screen and (height: 800px) {
  #intro > picture > img {
    height: 640px;
  }
}

@media screen and (height: 600px) {
  #intro > picture > img {
    height: 600px;
  }
}
