html {
  cursor: url("images/arrow.png"), url("images/arrow.cur"), default;
}

body {
  background-color: rgb(64, 110, 121);
  background-image: url("images/space2.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.menu {
  position: fixed;
  left: 0px;
  top: 0px;
  background: black;
  width: 60px;
  padding-top: 0px;
  padding-bottom: 44em;
  opacity: 0.8;
}

.home {
  position: fixed;
  left: 15px;
  top: 10px;
  width: 2em;
}

#circle {
  display: none;
}

#folder {
  position: fixed;
  left: 15px;
  top: 60px;
  width: 2em;
}

.login-register {
  position: absolute;
  top: 0px;
  left: 67.18em;
  background: rgb(64, 110, 121);
  width: 10em;
  height: 3em;
  border-bottom-left-radius: 22px;
}

.profile {
  position: relative;
  left: 6.9em;
  top: 2px;
  background: black;
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

div#intro.info p {
  position: absolute;
  left: 13em;
  font-size: 200%;
  font-family: fantasy;
  color: white;
  cursor: text;
}

/* Center Div element with different images everytime 
user interacts with it */

/*
.info {
  position: absolute;
  top: 0px;
  left: 95px;
  background-image: url("images/moon-big.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 65em;
  height: 40em;
}
*/

div#intro.info > picture img {
  position: absolute;
  top: 0px;
  left: 95px;
  width: 68.2em;
  height: 40em;
}

.side-container1 {
  position: absolute;
  left: 0px;
  top: 0px;
  background: black;
  /* background: url("images/pink.jpg"); */
  width: 95px;
  height: 40em;
  opacity: 0.9;
}

.side-container2 {
  position: absolute;
  right: 0px;
  top: 0px;
  background: black;
  /* background: url("images/pink.jpg"); */
  width: 95px;
  height: 40em;
  opacity: 0.9;
  cursor: pointer;
}

#right_arrow {
  margin: 275% 8.1%;
  height: 5em;
  width: 5em;
}

#picture_end {
  position: relative;
  left: 40px;
  top: 19em;
  background: rgb(71, 157, 243);
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.dots-link #dot1 {
  position: relative;
  top: 35.54em;
  left: 35em;
  background: grey;
  border-radius: 50%;
  width: 11px;
  height: 11px;
}

.dots-link #dot2 {
  position: relative;
  left: 37em;
  top: 33.74em;
  background: grey;
  border-radius: 50%;
  width: 11px;
  height: 11px;
}

.dots-link #dot3 {
  position: relative;
  top: 31.91em;
  left: 39em;
  background: grey;
  border-radius: 50%;
  width: 11px;
  height: 11px;
}

.dots-link #dot3:hover,
.dots-link #dot2:hover,
.dots-link #dot1:hover {
  background: white;
}

.side-container2:hover {
  background: grey;
}
