body {
  /*background-color: rgb(64, 110, 121);*/
  background-image: url("images/space2.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

div#intro.info p,
#intro > picture > img,
.side-container1,
.side-container2 {
  position: absolute;
}

div#intro.info p {
  top: 30px;
  right: 6em;
  font-style: italic;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 13em;
  padding: 30px;
  border-radius: 90px;
  background: rgb(0, 0, 0, 0.65);
}

p {
  color: white;
  cursor: text;
  line-height: 60px;
  font-size: 150%;
}
/* Center Div element with different images everytime 
  user interacts with it */

#intro > picture > img,
.side-container1,
.side-container2 {
  height: 40em;
}

#intro > picture > img {
  top: 0px;
  left: 95px;
  width: 68.2em;
}

.side-container1,
.side-container2 {
  top: 0px;
  background: black;
  width: 95px;
  opacity: 0.9;
}

.side-container1 {
  left: 0px;
}

.side-container2 {
  cursor: pointer;
  right: 0px;
}

.picture_end,
button.slide {
  position: relative;
}

.picture_end {
  left: 40px;
  top: 19em;
  background: rgb(71, 157, 243);
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.arrow {
  margin: 275% 10%;
  height: 4.5em;
  width: 4.5em;
}

button.slide {
  left: 44em;
  top: 42em;
  margin-right: 15px;
  background: rgb(218, 123, 34);
  border: 0;
  border-radius: 50%;
  width: 13px;
  height: 13px;
}

/* hover styles */

button.slide:hover {
  background: white;
}

.side-container2:hover {
  background: gray;
}
